
<sqd-designer
  theme="light"
  [undoStackSize]="10"
  [definition]="definition"
  [toolboxConfiguration]="toolboxConfiguration"
  [stepsConfiguration]="stepsConfiguration"
  [validatorConfiguration]="validatorConfiguration"
  [controlBar]="true"
  [selectedStepId]="selectedStepId"
  [isReadonly]="isReadonly"
  [isToolboxCollapsed]="isToolboxCollapsed"
  [isEditorCollapsed]="false"
  [areEditorsHidden]="false"
  [rootEditor]="rootEditor"
  [stepEditor]="stepEditor"
  (onReady)="onDesignerReady($event)"
  (onDefinitionChanged)="onDefinitionChanged($event)"
  (onSelectedStepIdChanged)="onSelectedStepIdChanged($event)"
  (onIsToolboxCollapsedChanged)="onIsToolboxCollapsedChanged($event)"
  (onIsEditorCollapsedChanged)="onIsEditorCollapsedChanged($event)"
>
</sqd-designer>

<ng-template #rootEditor let-editor>
  <h2>Root Editor</h2>
</ng-template>

<ng-template #stepEditor let-editor>
  <h4 fd-form-header>{{editor.step.name}}</h4>
  <br/>
  <div class="step-editor-container">
    <ng-container *ngIf="editor.step.type === 'controlFlow'">
      <div fd-form-item>
        <label fd-form-label>Use Result from Variable</label>
        <fd-select placeholder="Select Variable"
                   [value]="editor.step.properties.inputVariableName"
                   (valueChange)="updateInputProperty(editor.step,{value: $event}, editor.context)">
          <li fd-option [value]="null">None</li>
          <li fd-option *ngFor="let variable of getStepVariables(editor.step.id)" [value]="variable.name">Output from {{variable.stepType}} {{variable.stepName}}</li>
        </fd-select>
      </div>

      <div fd-form-item>
        <label fd-form-label >Condition</label>
        <fd-combobox
          inputId="comboboxID1"
          ariaLabel="Standard"
          maxHeight="250px"
          placeholder="Type some text..."
          [dropdownValues]="getVariableFieldNames(editor.step.properties.inputVariableName, editor.step.id)"
          [ngModel]="editor.step.properties.condition"
          (ngModelChange)="updateProperty(editor.step, 'condition', {value: $event}, editor.context, true)"
        >
        </fd-combobox>
      </div>
    </ng-container>

    <ng-container *ngIf="editor.step.type === 'screen'">
      <div fd-form-item>
        <div fd-form-item>
          <label fd-form-label>Screen Name</label>
          <input fd-form-control type="text" id="input-3"
                 [value]="editor.step.properties.screenId"
                 (input)="updateProperty(editor.step, 'screenId', $event.target, editor.context, true)" />
        </div>

        <div fd-form-item>
          <button fd-button (click)="stepEdit(editor.step)">Edit Screen</button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="editor.step.type === 'action'">
      <div fd-form-item>
        <label fd-form-label>Action Name</label>
        <input fd-form-control type="text"
               [value]="editor.step.properties.actionName"
               (input)="updateProperty(editor.step, 'actionName', $event.target, editor.context, true)" />
      </div>

      <div fd-form-item>
        <label fd-form-label>Action Type</label>
        <fd-select placeholder="Select value"
                   [value]="editor.step.properties.action"
                   (valueChange)="updateProperty(editor.step, 'action', {value: $event}, editor.context, false)">
          <li fd-option [value]="'createAccount'">Create Account</li>
          <!--  <li fd-option [value]="'updateAccount'">Update Account</li>-->
          <li fd-option [value]="'sendEmail'">Send Email</li>
        </fd-select>
      </div>

      <app-action-variable-mapping
        [stepId]="editor.step.id"
        [actionType]="editor.step.properties.action"
      ></app-action-variable-mapping>

      <!--   <div fd-form-item>
           <label fd-form-label>Use Result from Variable</label>
           <fd-select placeholder="Select Variable"
                      [value]="editor.step.properties.inputVariableName"
                      (valueChange)="updateInputProperty(editor.step,{value: $event}, editor.context)">
             <li fd-option [value]="null">None</li>
             <li fd-option *ngFor="let variable of getStepVariables(editor.step.id)" [value]="variable.name">Output from {{variable.stepType}} {{variable.stepName}}</li>
           </fd-select>
         </div>-->



    </ng-container>
  </div>
</ng-template>
