.component-container {
  margin-bottom: 15px;

  label {
    margin-bottom: 5px;
  }

  input {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid gray;
    width: 200px;
    box-sizing: border-box;
  }

  button {
    border: none;
    background-color: #0070f2;
    color: #fff;
    padding: 5px;
    width: 200px;
    cursor: pointer;
  }
}

.screen-container {
  width: 200px;
  box-sizing: border-box;
  margin-left: 20px;
}

.start-flow-button {
  margin-left: 20px;
}
