<form class="register-form">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="profileForm.controls.email">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Age</mat-label>
      <input type="number" matInput [formControl]="profileForm.controls.age">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="profileForm.controls.password">
    </mat-form-field>
  </div>

  <div>
  <button mat-button type="button" (click)="submitForm()" mat-raised-button color="primary">Submit</button>
  </div>
</form>
