.validation-rule {
  font-size: 12px;
  line-height: 1.3;
  color: gray;
}

.validation-name {
  margin-bottom: 5px;
}

.validation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-new-validation-option {
  span {
    color: var(--fdButtonColor);
    font-weight: bold;
  }

}
