.validation-rule {
  font-size: 12px;
  line-height: 1.3;
  color: gray;
}

.validation-name {
  margin-bottom: 5px;
  font-weight: bold;
}

.validation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.validation-actions {
  display: flex;
  gap: 10px;
}

.validation-data {
  color: gray;
  font-size: 12px;
  margin-bottom: 10px;
}

.validation-container {
  margin-bottom: 20px;
}
