<div fd-form-item>
  <label fd-form-label>Map Fields</label>
  <div *ngFor="let field of expectedFields" class="field-mapping">
    <div>{{field.name}}</div>
    <div fd-form-item>
      <fd-select placeholder="Use Field"
                 [id]="field.name"
                 class="mapped-field-select"
                 [value]="mapping?.[field.name]"
                 (valueChange)="updateFieldMapping(field.name, $event)">
        <li fd-option [value]="null">None</li>
        <li fd-option [value]="inputVariableField.name"
            *ngFor="let inputVariableField of inputVariableFields">{{inputVariableField.name}}</li>
      </fd-select>
    </div>
  </div>
</div>
