<div>
  <div *ngFor="let variable of variables" class="validation-list">
    <div fd-form-item>
      <label fd-form-label>Add validation for a variable</label>
      <fd-select placeholder="Select variable"
                 [controlTemplate]="customSelectTemplate"
                 [id]="variable.name"
                 (valueChange)="selectVariable(variable, $event)"
                 [value]="getFullFieldName(field.name)">
        <li fd-option [value]="null">None</li>
        <ng-container *ngFor="let variable of variables">
          <li fd-list-group-header>
            <span fd-list-title>{{variable.stepType | titlecase }} {{variable.stepName}} Output</span>
          </li>
          <li fd-option
              *ngFor="let variableField of variable.fields"
              [value]="variable.name + '.' + variableField.name"
          >{{variableField.name}}</li>
        </ng-container>
      </fd-select>
    </div>
  </div>
</div>

<ng-template #customSelectTemplate let-textValue let-selected="selected">
  <div class="custom-select-trigger-styling">
    <ng-container *ngIf="selected?.value">
      {{parseValue(selected?.value)?.fieldName }} ({{parseValue(selected?.value)?.variable?.stepName}} {{parseValue(selected?.value)?.variable?.stepType | titlecase }} Output)
    </ng-container>
    <ng-container *ngIf="!selected?.value">
      {{textValue}}
    </ng-container>
  </div>
</ng-template>
