<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link
     [routerLink]="'/build-flow'"
     routerLinkActive #rla="routerLinkActive"
     queryParamsHandling="merge"
     [active]="rla.isActive">
    Build Flow
  </a>
 <!-- <a mat-tab-link
     [routerLink]="'/ui-builder'"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    Ui Builder
  </a>-->
  <a mat-tab-link
     [routerLink]="'/run-flow'"
     routerLinkActive #rla="routerLinkActive"
     queryParamsHandling="merge"
     [active]="rla.isActive">
    Run Flow
  </a>
</nav>


<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
