<fd-dialog>
  <fd-dialog-header>
    <h4 fd-title>Add Validation</h4>
  </fd-dialog-header>

  <fd-dialog-body>
    <div fd-form-item>
      <label fd-form-label>Name</label>
      <input fd-form-control type="text"
             [fdCompact]="true"
             [value]="(validation$ | async).name"
             (input)="changeName($event)"/>
    </div>

    <h4>Rules</h4>
    <div *ngFor="let validationType of validationTypes">
      <div fd-form-item *ngIf="validationType.type === 'number' || validationType.type === 'text'">
        <label fd-form-label>{{validationType.title}}</label>
        <input fd-form-control [type]="validationType.type"
               [fdCompact]="true"
               [value]="(validation$ | async).rules?.[validationType.name] || ''"
               (change)="changeTextRule(validationType.name, $event)"/>
      </div>
      <div fd-form-item *ngIf="validationType.type === 'boolean'">
        <fd-checkbox label="{{validationType.title}}"
          [ngModel]="(validation$ | async).rules?.[validationType.name]"
                     [fdCompact]="true"
                     (ngModelChange)="changeBooleanRule(validationType.name, $event)"
                     ></fd-checkbox>
      </div>
    </div>
  </fd-dialog-body>
  <fd-dialog-footer>
    <button type="button" fd-button [fdCompact]="true" (click)="save()">Save</button>
    <button type="button" fd-button [fdCompact]="true" (click)="cancel()">Cancel</button>
  </fd-dialog-footer>
</fd-dialog>
