<fd-dialog>
  <fd-dialog-header>
    <h4 fd-title>Add Validation</h4>
  </fd-dialog-header>

  <fd-dialog-body>
    <form [formGroup]="validationForm">

      <div fd-form-item>
        <label fd-form-label>Name</label>
        <fd-form-input-message-group>
          <input fd-form-control type="text"
                 required
                 [state]="validationForm.controls.name.valid || validationForm.controls.name.pristine ? 'default' : 'error'"
                 formControlName="name"/>
          <fd-form-message type="error" *ngIf="validationForm.controls.name.errors?.['nameExists']">
            Validation with this name already exists
          </fd-form-message>
          <fd-form-message type="error" *ngIf="validationForm.controls.name.errors?.['required']">
            Name is required
          </fd-form-message>

        </fd-form-input-message-group>
      </div>

      <div fd-form-item>
        <label fd-form-label>Regex</label>
        <fd-form-input-message-group>

          <input fd-form-control type="text"
                 required
                 [state]="validationForm.controls.data.valid || validationForm.controls.data.pristine ? 'default' : 'error'"
                 formControlName="data"/>
          <fd-form-message type="error" *ngIf="validationForm.controls.data.errors?.['required']">
            Regex is required
          </fd-form-message>

        </fd-form-input-message-group>

      </div>
    </form>
  </fd-dialog-body>
  <fd-dialog-footer>
    <button type="button" fd-button [fdCompact]="true" (click)="save()" [disabled]="!validationForm.valid">Save</button>
    <button type="button" fd-button [fdCompact]="true" (click)="cancel()">Cancel</button>
  </fd-dialog-footer>
</fd-dialog>
