<div class="container">
  <!--a draggable element-->
  <div class="component-list-container">
    <ul fd-list fdCompact class="component-list">
      <li fd-list-item *ngFor="let component of componentList"
          [dndDraggable]="component"
          dndEffectAllowed="copy"
          [dndDisableIf]="draggable.disable"
          (dndStart)="onDragStart($event)"
          (dndCopied)="onDraggableCopied($event)"
          (dndLinked)="onDraggableLinked($event)"
          (dndMoved)="onDraggableMoved($event)"
          (dndCanceled)="onDragCanceled($event)"
          (dndEnd)="onDragEnd($event)">
        >
        <i fd-list-icon [glyph]="component.iconName"></i>
        <span fd-list-title>{{component.name}}</span>
      </li>
    </ul>
  </div>

  <!--a dropzone-->
  <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
  <section dndDropzone class="dropzone"
           (dndDragover)="onDragover($event)"
           (dndDrop)="onDrop($event)">

    <!--optional placeholder element for dropzone-->
    <!--will be removed from DOM on init-->
    <div class="drop-placeholder" dndPlaceholderRef></div>

    <ng-container *ngIf="screenDefinition?.components">
      <div *ngFor="let component of screenDefinition?.components; index as i" [dndDraggable]="component"
           (click)="this.selectedComponentId$.next(component.id)"
           class="drop-component"
           dndEffectAllowed="move"
           (dndStart)="onDragStart($event)"
           (dndCopied)="onDraggableCopied($event)"
           (dndLinked)="onDraggableLinked($event)"
           (dndMoved)="onDraggableMoved($event)"
           (dndCanceled)="onDragCanceled($event)"
           (dndEnd)="onDragEnd($event)">
        <div class="drop-component-element" [ngClass]="{'selected': component.id === (selectedComponentId$ | async)}">
          <ng-container *ngIf="component.type === 'input'">
            <div class="component-container">
              <ng-container *ngIf="component.label">
                <div>
                  <label [for]="component.id">{{component.label}}</label>
                </div>
              </ng-container>
              <input [type]="component.inputType" [id]="component.id"/>
            </div>
          </ng-container>
          <ng-container *ngIf="component.type === 'header'">
            <div class="component-container">
              <h2>{{component.label}}</h2>
            </div>
          </ng-container>
          <ng-container *ngIf="component.type === 'button'">
            <div class="component-container">
              <button type="button">{{component.label}}</button>
            </div>
          </ng-container>
        </div>
        <div class="drop-component-buttons">
        <!--  <button fd-button glyph="edit" title="Edit" fdCompact (click)="selectedComponent$.next(component)"></button>-->
          <button fd-button glyph="delete" title="Delete" fdCompact (click)="deleteComponent(i)"></button>
        </div>
      </div>
    </ng-container>
  </section>

  <div class="component-properties" *ngIf="selectedComponent">
    <ng-container *ngIf="selectedComponent.type === 'input'">
      <h4 fd-form-header> Input Properties</h4>
      <div fd-form-item>
        <label fd-form-label>Field Name</label>
        <input fd-form-control [value]="selectedComponent.mappedField"
               (change)="updateMappedField(selectedComponent.id, $event)"/>
      </div>
      <div fd-form-item>
        <label fd-form-label>Input Type</label>
        <fd-select placeholder="Select Input Type"
                   [value]="selectedComponent.inputType"
                   (valueChange)="updatePropertySelect(selectedComponent.id, 'inputType', $event)">
          <li fd-option [value]="'header'">Text</li>
          <li fd-option [value]="'password'">Password</li>
          <li fd-option [value]="'email'">Email</li>
          <li fd-option [value]="'number'">Number</li>
        </fd-select>
      </div>
      <div fd-form-item>
        <label fd-form-label>Label</label>
        <input fd-form-control type="text" [value]="selectedComponent.label"
               (change)="updateProperty(selectedComponent.id, 'label', $event)"/>
      </div>
      <!--  <div fd-form-item>
          <label fd-form-label for="input-2">Placeholder</label>
          <input fd-form-control type="text" id="input-2" placeholder="Field placeholder text"
                 aria-required="true" [value]="component.placeholder"
                 (change)="updateProperty(component.id, 'placeholder', $event)"/>
        </div>-->

      {{selectedComponent?.prepopulate | json }}
      <div fd-form-item>
        <label fd-form-label>Prepopulate Data From Variable</label>
        <fd-select placeholder="Variable Name"
                   [value]="selectedComponent?.prepopulate?.variableName"
                   (valueChange)="updatePrepopulateVariable(selectedComponent.id, $event)">
          <li fd-option [value]="null">None</li>
          <li fd-option *ngFor="let variable of variables" [value]="variable.name">Output from {{variable.stepType}} {{variable.stepName}}</li>
        </fd-select>
      </div>
      <div fd-form-item *ngIf="selectedComponent?.prepopulate?.variableName">
        <label fd-form-label>Prepopulate Field</label>
        <fd-select placeholder="Variable Field"
                   [value]="selectedComponent?.prepopulate?.fieldName"
                   (valueChange)="updatePrepopulateField(selectedComponent.id, $event)">
          <li fd-option [value]="null">None</li>
          <li fd-option *ngFor="let field of getVariableFields(selectedComponent?.prepopulate?.variableName)" [value]="field.name">{{field.name}}</li>
        </fd-select>
      </div>

      <div>
        <h3>Validations</h3>
        <button fd-button label="Add New Validation" (click)="addNewValidation(selectedComponent)"></button>

        <h4>Existing Validations</h4>
        <div *ngFor="let validation of selectedComponent?.validations">{{validation | json}}</div>

        <!-- <div fd-form-label *ngIf="existingValidations">
           <label fd-form-label>Add Existing Validation</label>
           <fd-select placeholder="Validation Type"
                      [value]="selectedComponent?.prepopulate?.fieldName"
                      (valueChange)="updatePrepopulateField(selectedComponent.id, $event)">
             <li fd-option [value]="null">None</li>
             <li fd-option *ngFor="let field of getVariableFields(selectedComponent?.prepopulate?.variableName)" [value]="field.name">{{field.name}}</li>
           </fd-select>
         </div>-->
      </div>
    </ng-container>
    <ng-container *ngIf="selectedComponent.type === 'header'">
      <h4 fd-form-header> Text Properties</h4>
      <div fd-form-item>
        <label fd-form-label for="textData">Text</label>
        <input fd-form-control [type]="selectedComponent.label" id="textData" [value]="selectedComponent.label"
               (change)="updateProperty(selectedComponent.id, 'label', $event)"/>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedComponent.type === 'button'">
      <h4 fd-form-header> Button Properties</h4>
      <div fd-form-item>
        <label fd-form-label for="textData">Text</label>
        <input fd-form-control type="text" id="buttonLabel" [value]="selectedComponent.label"
               (change)="updateProperty(selectedComponent.id, 'label', $event)"/>
      </div>
      <div fd-form-item>
        <label fd-form-label>Click Action</label>
        <fd-select placeholder="Select value"
                   [value]="selectedComponent.clickAction"
                   (valueChange)="updatePropertySelect(selectedComponent.id, 'clickAction', $event)">
          <li fd-option [value]="'continueFlow'">Continue Flow</li>
        </fd-select>
      </div>
    </ng-container>
  </div>
</div>

