<div fd-bar>
  <div fd-bar-left *ngIf="openStep$ | async">
    <div class="back-button" (click)="openStep$.next(null)">
      <fd-button-bar ariaLabel="previous" [glyph]="'navigation-left-arrow'"></fd-button-bar>
      <fd-bar-element> Back to Flow </fd-bar-element>
    </div>

  </div>
<!--  <div fd-bar-middle>
    <fd-bar-element>
      <h3 fd-title *ngIf="openStep$ | async as selectedStep">Design Screen: {{selectedStep['name']}}</h3>
      <h3 fd-title *ngIf="!(openStep$ | async)">Flow Builder</h3>
    </fd-bar-element>
  </div>
  <div fd-bar-right></div>-->
</div>

<div *ngIf="loadingFinished$ | async">
  <app-swd-flow
    (definitionUpdated)="onDefinitionUpdated($event)"
    [flowDefinition]="flowDefinition$ | async"
    (stepSelected)="onStepSelected($event)"
    (stepOpen)="onStepOpen($event)"
    *ngIf="!(openStep$ | async)"
    [selectedStep]="selectedStep$ | async"></app-swd-flow>
  <app-ui-builder-custom
    *ngIf="openStep$ | async"
    (screenUpdated)="onScreenUpdated($event)"
    [stepId]="stepId"
    [screenJson]="screenDefinition"
  ></app-ui-builder-custom>
</div>


