<div fd-bar>
  <div fd-bar-left *ngIf="(openStep$ | async) || (openEditVariable$ | async)">
    <div class="back-button" (click)="onBackButtonClick()">
      <fd-button-bar ariaLabel="previous" [glyph]="'navigation-left-arrow'"></fd-button-bar>
      <fd-bar-element> Back to Flow </fd-bar-element>
    </div>
  </div>
</div>

<div *ngIf="flowDefinition">
  <app-swd-flow
    *ngIf="!(openStep$ | async)"
    (stepSelected)="onStepSelected($event)"
    (stepOpen)="onStepOpen($event)"
    [selectedStep]="selectedStep$ | async"></app-swd-flow>
  <app-ui-builder-custom
    *ngIf="openStep$ | async"
    [stepId]="stepId"
  ></app-ui-builder-custom>
</div>


