
div[fd-form-item] {
  margin-bottom: 15px;
}


.added-marker {
  margin-left: 10px;
}

.add-new-validation-option-item {
  color: #0064d9 !important;
  font-weight: bold;
}

.properties-section-container {
  width: 100%;
}

.fd-select {
  width: 100%;
}
